<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>canteen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.uch.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodInfoServlet</servlet-name>
    <servlet-class>com.uch.servlet.FoodInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>com.uch.servlet.AddCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.uch.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveCarServlet</servlet-name>
    <servlet-class>com.uch.servlet.RemoveCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountCarServlet</servlet-name>
    <servlet-class>com.uch.servlet.CountCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.uch.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>com.uch.servlet.HistoryServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodInfoServlet</servlet-name>
    <url-pattern>/foodinfoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/addcarservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/adduserservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveCarServlet</servlet-name>
    <url-pattern>/removecarservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountCarServlet</servlet-name>
    <url-pattern>/countcarservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/memberservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/historyservlet</url-pattern>
  </servlet-mapping>
</web-app>